<h1>biblioteca</h1>
<h2>Churro de libros</h2>

<div class="row">
    <!-- listado -->
    <div class="col-4">
        <h3>listado de libros</h3>       
            <ul class="list-group">
                <li *ngFor="let l of libros" (click)="seleccionarLibro(l)"
                    class="list-group-item {{ (l==libroSeleccionado) ? 'active' : ''  }}">
                    <b>{{l.titulo}}</b> {{l.autor}}
                    <span *ngIf="!l.checkDigital" class="badge badge-pill text-success"><i class="fas fa-cookie"></i></span>
                    <span *ngIf="l.checkDigital" class="badge badge-pill text-danger"><i class="fas fa-cookie"></i></span>
                </li>
            </ul>
    </div>
    <!-- detalle -->
    <div class="detalle col-8">
        <div class="titulo">{{libroSeleccionado.titulo}}</div>
        <div class="row">
            <div class="col">
                <img class="fotolibro" alt="imagen" src="{{libroSeleccionado.foto}}">
                <div class="row">
                    <div class="col -4">
                        <i class="fas fa-heart text-danger"> {{libroSeleccionado.paginas}} </i>
                    </div>
                    <div class="col -8">
                        <i>{{libroSeleccionado.autor}}</i>
                    </div>
                </div>

            </div>

            <div class="col">
                <ul class="list-group"> <b>Categorias:</b> 
                    <li *ngFor="let c of libroSeleccionado.categorias" class="list-group-item {{ (c==libroSeleccionado.categorias) ? 'active' : ''  }}">
                        {{c}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="descripcion">
            <b>Descripcion:</b>  {{libroSeleccionado.descripcion}}
        </div>
    </div>
</div>
